body{
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:flex-start;
            font-family:Arial, sans-serif;
            background-image:url("tamu/foto/foto.png");
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            margin: 0;
            height: 100vh;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container{
            margin-top:80px;
            text-align:center;
            color:white;
        }

        h1{
            font-size:40px;
            letter-spacing:2px;
            margin-bottom:30px;
            text-shadow:0 0 10px rgba(0,0,0,0.6);
            margin: 0;
            padding: 10px;
            position: absolute;
            top: 0;
            left: 0;
            
        }

        button{
            padding:15px 45px;
            font-size:20px;
            border:none;
            border-radius:12px;
            background:#f3f2f0;
            color:#06cfd6;
            cursor:pointer;
            box-shadow:0 10px 25px rgba(0,0,0,0.4);
            transition:0.3s;
        }

        button:hover{
            transform:scale(1.08);
            box-shadow:0 0 40px #ffffff;
        }
        .login {
            margin: 100px auto;
            border-radius: 12px;
            color: #ff1a1a;
            background-color: #ff4d4d;
        }
        a {
            display: inline-block;
            padding: 8px 10px;
            color: #06cfd6;
            border-radius: 8px;
            margin-bottom: 5px;
            transition: 0.3s;
            text-decoration: none;
        }
        .logout-btn {
        position: absolute;
        top: 10px;
        right: 10px;

        padding: 10px 20px;
        background: #ff4d4d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;

        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transition: 0.3s;
        }

        .logout-btn:hover {
            background: #ff1a1a;
            transform: scale(1.05);
        }